<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Carrinho React</title>
</head>
<body>
  <div class="container">
    <h1>Carrinho React</h1>
    <hr />
    <div id='app' class='row'>
      <div class='col-sm-8'>
        <div class="row loja">
        </div>
      </div>
      <div class='col-sm-4'>
        <div class="carrinho">
          <div class="carrinho__items">
          </div>
          <div class="carrinho__total mt-2 p-3">
            <h6>Total: <Strong>R$0,00</Strong></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script type="text/babel">
  const produtos = [
  {
    id: 'abc123',
    nome: 'JSRaiz para FW',
    preco: 300,
    descricao: 'O melhor curso do mundo',
    imagem: 'https://lorempixel.com/500/300'
  },
  {
    id: 'abc321',
    nome: 'JSRaiz para FW',
    preco: 1200,
    descricao: 'O melhor curso do mundo',
    imagem: 'https://lorempixel.com/500/300'
  }
]

function ListaProdutosComponente({item, index, adicionaCarrinho}) {
  return (
      React.createElement('div', { className: 'col-sm-4 mb-3', key: index },
        React.createElement('div', { className: 'card loja__item' },
          React.createElement('img', { className: 'card-img-top', src: item.imagem }),
          React.createElement('div', { className: 'card-body' },
            React.createElement('h5', { className: 'card-title' }, item.nome),
            React.createElement('small', null, `R$ ${item.preco}`),
            React.createElement('p', { className: 'card-text' }, item.descricao),
            React.createElement('button', { className: 'btn btn-primary', onClick: adicionaCarrinho.bind(null, item) }, 'Adicionar')
          )
        )
      )
    )

}

function CarrinhoComponent({item, removeCarrinho}) {
  const valorTotal = (carrinhoItems) => {
    return Object.keys(carrinhoItems).reduce((acc, valorAtual) => {
      return acc + (carrinhoItems[valorAtual].preco * carrinhoItems[valorAtual].quantidade)
    }, 0)
  }
  return (
    React.createElement('div', { className: 'carrinho' },
      Object.keys(item).map(e => (
        React.createElement('div', { className: 'carrinho__items' },
          React.createElement('div', { className: 'card carrinho__item' },
            React.createElement('div', { className: 'card-body' },
              React.createElement('h5', { className: 'card-title' }, item[e].nome),
              React.createElement('p', { className: 'card-text' }, `Preço unidade: R$ ${item[e].preco} | Quantidade: ${item[e].quantidade}`),
              React.createElement('p', { className: 'card-text' }, `Valor: R$ ${item[e].preco * item[e].quantidade}`),
              React.createElement('button', { className: 'btn btn-danger btn-sm', onClick: removeCarrinho.bind(null, item[e]) }, 'Remover')
            )
          )
        )
      )),
      React.createElement('div', { className: 'carrinho_total mt-2 p-3' },
        React.createElement('h6', null, 'Total: ',
          React.createElement('strong', null, `R$ ${valorTotal(item)}`)
        )
      )
    )
  )
}

function AppComponente() {
  const [carrinhoItems, setCarrinhoItems] = React.useState({})
  const adicionaCarrinho = (produto) => {
    if(!carrinhoItems[produto.id]) {
      setCarrinhoItems({
        ...carrinhoItems,
        [produto.id]: produto,
        [produto.id]: {
          ...produto,
          quantidade: 1
        }
      })
      return
    }
  
    setCarrinhoItems({
      ...carrinhoItems,
      [produto.id]: {
        ...produto,
        quantidade: ++carrinhoItems[produto.id].quantidade
      }
    })
  }

  const removeCarrinho = (produto) => {
    if(carrinhoItems[produto.id].quantidade <= 1){
      delete carrinhoItems[produto.id]
      setCarrinhoItems({ ...carrinhoItems })
      return
    }
    setCarrinhoItems({
      ...carrinhoItems,
      [produto.id]: {
        ...carrinhoItems[produto.id],
        quantidade: --carrinhoItems[produto.id].quantidade
      }
    })
  }
  return (
    React.createElement(React.Fragment, null,
      React.createElement('div', { className: 'col-sm-8' },
        React.createElement('div', { className: 'row loja' },
          produtos.map((item, index) => (
            React.createElement(ListaProdutosComponente, { item, index, adicionaCarrinho })
          ))
        )
      ),
      React.createElement('div', { className: 'col-sm-4' },
        React.createElement(CarrinhoComponent, { item: carrinhoItems, removeCarrinho })
      )
    )
  )
}

ReactDOM.render(
  React.createElement(AppComponente),
  document.getElementById('app')
)
  </script>
</body>
</html>